
.text_label{
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
}
.tab-selected {
    color: rgb(235, 68, 90);
}
.bg{
    --ion-tab-bar-background: #f8f8fa;
    
}
.bgbr{
    border-top: 1px solid #f8f8fa;
  
}

// .tab-selected[_ngcontent-mfo-c132] {
//     color: #eb445a;
// }